/* ! default style here */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}
body {
  font-family: "Poppins", sans-serif;
}
.container {
  padding: 0 5rem;
}
.half-width {
  width: 50%;
}
h1,
h2,
h3,
h4 {
  color: #242423;
}
.mb {
  margin-bottom: 4rem;
}
/* ! banner style here */
.banner-section {
  height: 100vh;
  background-image: url(/images/top-banner.png);
  background-repeat: no-repeat;
}
.banner,
.dream-big {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-right {
  text-align: center;
}
.banner-bg {
  width: 75%;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  margin: 1rem 0;
}
.head-text-color {
  color: orange;
}
.banner-left p,
.dream-right p {
  margin-bottom: 2rem;
  color: #6c757d;
}

.link-btn {
  background-image: linear-gradient(
    to right,
    #dd5e89 0%,
    #f7bb97 51%,
    #dd5e89 100%
  );
  font-weight: 700;
  margin-top: 2rem;
  padding: 0.6rem 2.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  text-decoration: none;
}
.link-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
}
/*  ! dream big style here */
.dream-big-section {
  height: 90vh;
  background-image: url(/images/dream-bg.png);
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 90%;
}
/* ! experiences sytle here */
.experiences {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  column-gap: 3rem;
}
.experiences-item {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  padding: 3rem 2rem;
  border-radius: 0 1rem 1rem 0;
}
.experiences-item:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
.experiences-item h2 {
  font-size: 2rem;
}
.experiences-item h3 {
  color: orange;
}
.experiences-item p {
  color: #6c757d;
}
#experiences-item-1 {
  border-left: 5px solid #f25f5c;
}
#experiences-item-2 {
  border-left: 5px solid #0a2463;
}
/*  ! footer style here */
.footer {
  text-align: center;
  padding: 1rem 0;
  color: #6c757d;
}
